/* Content */

.dark .blog .nuxt-content {
  color: var(--purple-textdark);
}

.blog .nuxt-content img {
  margin: 1em 0px;
  display: block;
  width: 100%;
  max-height: 50vh;
  object-fit: contain;
}

.blog .nuxt-content p {
  text-indent: 1.6em;
  margin: 1em 0px;
  text-align: justify;
}

.blog .nuxt-content h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0px;
  font-weight: bold;
}

.blog .nuxt-content h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0px;
  font-weight: bold;
}

.blog .nuxt-content h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0px;
  font-weight: bold;
}

.blog .nuxt-content ol {
  list-style: decimal;
  padding: 0rem 2rem;
}

.blog .nuxt-content ul {
  padding: 0rem 2rem;
  list-style: outside disc;
}

.blog .nuxt-content .nuxt-content-highlight {
  border-radius: 0.3rem;
  background-color: #1e1e1e;
  margin: auto;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .blog .nuxt-content .nuxt-content-highlight {
    width: 80%;
  }
}

.blog .nuxt-content .nuxt-content-highlight .filename {
  padding: 0.6rem 1rem 0rem 1rem;
  width: 100%;
  color: #a6a6a6;
  display: flex;
  justify-content: flex-end;
}

.blog .nuxt-content .nuxt-content-highlight pre {
  padding-top: 0rem;
  margin-top: 0rem;
}

.blog .nuxt-content .nuxt-content-highlight pre code, .blog .nuxt-content .nuxt-content-highlight pre code * {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
}

pre[class*="language-"] {
  background: none !important;
}